   
<table border="0">
	<tr>
		<td colspan="4">
			<hr>
		</td>
	</tr>
	<tr>
		<td id="largeHeading">
			what to read next
		</td>
		<td style="align:right; width:1px; "><a id="left">&lt;</a></td>
		<td style="align:center; width:1px">|</td>
		<td style="align:right; width:1px"><a id="right">&gt;</a></td>
	</tr>
	<tr>
		<td colspan="4">
			<hr>
		</td>
	</tr>
	<tr>
		<td colspan="4">
			<div id="content">		
				<table>
					<tr>
						{% for blog in all_blogs %}
								
							<td>
								<table>
									<tr>
										<td>
											<img src="{{blog.thumbnail}}" style="width:215px; height:150px;" >
										</td
										
									</tr>
									<tr>
										<td><a href="../{{blog.pk}}">{{blog.title|truncatechars:20}}</a></td>								
									</tr>								
								</table>
							</td>
								
						{% endfor%}
					</tr>
				</table>
			</div>
			
		</td>
	</tr>
</table>