<table width="100%" class="leftNavTable">
	<tr>
		<td>
			<img src="/static/images/munna.jpg" style="width:100%; max-height: 450px" />
		</td>
	</tr>
	<tr>
		<td style="width:200px;">			
            <form class="ui-filterable">
                <input id="myFilter" data-type="search">
            </form>

            <ul data-role="content" data-filter="true" data-input="#myFilter" data-autodividers="true" data-inset="true">
                <li >
                	<a href="#">
						<table align="center">
							<tr>								
								<td><img src="/static/images/twitter.jpg" class="leftNavImage" /></td>
							</tr>
							<tr>
								<td align="center">Twitter</td>
							</tr>

						</table>
                	</a>
                </li>
                <li>
                	<a href="#">
						<table align="center">
							<tr>								
								<td><img src="/static/images/yahoo.jpg" class="leftNavImage" /></td>
							</tr>
							<tr>
								<td align="center">Yahoo</td>
							</tr>

						</table>
                	</a>
                </li>
                <li>
                	<a href="#">
						<table align="center">
							<tr>								
								<td><img src="/static/images/google.png" class="leftNavImage" /></td>
							</tr>
							<tr>
								<td align="center">Google</td>
							</tr>

						</table>
                	</a>
                </li>
                <li>
                	<a href="#">
						<table align="center">
							<tr>								
								<td><img src="/static/images/linkedin.jpg" class="leftNavImage"	 /></td>
							</tr>
							<tr>
								<td align="center">Linked In</td>
							</tr>

						</table>
                	</a>
                </li>
                <li>
                	<a href="#">
						<table align="center">
							<tr>								
								<td><img src="/static/images/facebook.jpg" class="leftNavImage" /></td>
							</tr>
							<tr>
								<td  align="center">Facebook</td>
							</tr>

						</table>
                	</a>
                </li>
            </ul>
		        
		</td>
	</tr>
	
</table>
